[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = ">=69.0"
sphinx = ">=6.0,<7.0"
sphinx-rtd-theme = ">=1.0,<2.0"
ruff = ">=0.1.0,<1.0"
pylint = ">=3.0,<4.0"
coverage = ">=7,<8.0"
pytest = ">=7.0,<8.0"
pytest-cov = ">=4.0,<5.0"
pytest-html = ">=3.0,<4.0"
tox = ">=4.0,<5.0"
twine = ">=4.0,<5.0"
coloredlogs = ">=15.0,<16.0"
emoji = ">=2.0,<3.0"

[packages]
coloredlogs = ">=15.0,<16.0"
awsenergylabelerlib = ">=5.0,<6.0"
yaspin = ">=2.1.0,<4.0"
terminaltables = ">=3.1.0,<4.0"
art = ">=5.3,<6.0"
pipenv = "*"
typing-extensions = ">=4.0,<5.0"

[requires]
python_version = "3.14"
